<body>
    <div class="container">
        <div class="row">
            <h1>Individual counter </h1>


            {{#each names}}
            <ul>
                </li>
                <li><a href="/counter/{{this.counter.rows}}">  {{this.counter.rows}} </a></li>

            </ul>
            {{/each}}

            <p>{{sentence}}</p>

                <a href ="/back" ><button class="button-primary backBtn" type="" name="button">Back</button></a>

        </div>
    </div>
</body>